{% extends "blog/base.html" %}

{% block content %}
	<div class="jumbotron">
		<h2 class="display-4">Please Login:</h2>
		<p class="lead">(Must be SuperUser, Please check with the site admin)</p>
		<hr class="my-4">
		{% if form.errors %}
			<p>Your username and password didn't match Please try again.</p>
		{% endif %}
		
		<form action="{% url 'login'%}" method="POST">
			{% csrf_token %}
			{{ form.as_p }}
			
			<input type="submit" class="btn btn-primary btn-lg" value="Login">
			<input type="hidden" name="next" value="{{next}}">
		</form>
	</div>
{% endblock %}




